.container{
  height:100%;
  background-color: #eeeeee;
}
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  width: 1024px;
  height: 100%;
  margin: auto;
  padding-top: 40px;
  background-color: white;
  box-shadow: 0 0 10px 0 #aaa;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.list a {
  line-height: 3em;
  display: inline-block;
  padding: 0 1em;
  border: 1px solid #108ee9;
  color: #108ee9;
  border-radius: 1em;
}

.list a:hover {
  color: white;
  background-color: #108ee9;
}

.rotate {
  color: #108ee9;
  animation: 1s rainbow infinite;
}
@keyframes rainbow {
  0% { background: #c00; }
  50% { background: orange; }
  100% { background: yellowgreen; }
}
